/* Colors */
$dkblue: rgb(51, 102, 153);
$liblue1: rgb(140, 179, 217);
$liblue2: rgb(121, 166, 210);
$liblue3: rgb(102, 153, 204);
$liblue4: rgb(83, 140, 198);
$liblue5: rgb(64, 128, 191);
$dkred: rgb(204, 0, 0);

header span {
  font-size: 40px;
}

header p {
  text-align: left;
  padding: 0;
}

/* Main Head */
.jumbotron {
  margin: 0;
  font-family: 'Voltaire', sans-serif;
  text-align: left;
  background: linear-gradient(105deg,
     /* Top */white 12.5em,
    $liblue1 12.5em, $liblue1 14.5em,
    $liblue2 14.5em, $liblue2 16.5em,
    $liblue3 16.5em, $liblue3 18.5em,
    $liblue4 18.5em, $liblue4 20.5em,
    $liblue5 20.5em, $liblue5 100%
  ); /* Bottom */
  color: black;
  border-bottom: 2px solid white;
  border-radius: 0px;
}

header #advisor {
  color: white;
}

#footer {
  position: relative;
  background: $dkblue;
  color: white;
}

#footer h3 {
  text-align: left !important;
  font-size: 1em;
  margin-top: 1em;
  padding: 0;
}

#footer ul {
  text-align: left !important;
  padding: 0;
  
  & a {
    color: rgb(160, 194, 223);
    text-decoration: none;
    transition: color 0.5s ease;
  }
  
  & a:hover {
    color: white;
    transition: color 0.5s ease;
  }
}
  
/* screen > 576px */
@media only screen and (min-width: 576px) {
   
  .jumbotron {
    background: linear-gradient(105deg,
     /* Top */white 14em,
    $liblue1 14em, $liblue1 16em,
    $liblue2 16em, $liblue2 18em,
    $liblue3 18.5em, $liblue3 20em,
    $liblue4 20em, $liblue4 22em,
    $liblue5 22em, $liblue5 100%
  ); /* Bottom */
}

}

@media only screen and (min-width: 768px) {
    .navcustom {
      margin-right: 5%;
    }

    ul>.nav-item:not(:last-child) {
    border-right: 1px solid white;
  }
  
}

nav {
  margin: 0;
}

/* navbar styling */
.navbar {
  position: sticky;
  height: 60px;
  z-index: 9999;
  background-color: $dkblue;
  border-bottom: 4px solid $dkred;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
}

.nav-item {
  padding: 6px 20px 0px 20px;
  height: 56px;
  min-width: 80px;
  background-color: $dkblue;
  color: rgb(160, 194, 223);
  transition: background-color 1s ease, color 0.5s ease;
  &:hover {
    background-color: $liblue1;
    transition: background-color 1s ease, color 0.5s ease;
  }
  &:hover a {
    color: white;
  }
}

.nav-link {
  color: rgb(160, 194, 223);
  transition: color 0.5s ease;
  
  &:hover { 
    color: white;
    transition: color 0.5s ease;
  }
}

.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }